<VirtualHost *:80>
  ServerName <%=@properties['servername']%>
  DocumentRoot <%=@properties['docroot']%>/current/php_app/

  <Directory <%=@properties['docroot']%>/current/php_app/>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel info
  ErrorLog /var/log/apache2/php-error.log
  CustomLog /var/log/apache2/php-access.log combined
  CustomLog /var/log/apache2/php-ganglia.log ganglia

  FileETag none

  RewriteEngine On
  IncludeOptional /etc/apache2/sites-available/php.conf.d/rewrite*



  IncludeOptional /etc/apache2/sites-available/php.conf.d/local*
</VirtualHost>
